* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
  /* 100% of the viewport height */
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  /* 100% of the parent element's height */
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #990033;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}